/* FIGURE IN ABOUT */


.figure {
    bottom: -10px;
    align-self: center;
    transform: translateY(-10px);
    margin-inline-end: 0;
    margin-inline-start: 0;
    
}

.figure_svg {
    width: 350px;
    height: 350px;
}

.fill_svg_background {
    z-index: -1;
    fill: var(--secondary-color-dark);
}

.self_img {
    z-index: 2;
    bottom: 120px;
    left: 10%;
}

/* SOCIAL MEDIA LOGOS */

.social_media {
    position: relative;
    display: flex;
    transform-style: preserve-3d;
    transform: rotate(-10deg) skew(10deg);
}

.social_media li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 20px;
}

.social_media li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -9px;
    width: 9px;
    height: 100%;
    background-color: var(--primary-color);
    transform-origin: right;
    transform: skewY(-49deg);
}

.social_media li::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: var(--primary-color);
    transform-origin: top;
    transform: skewX(-41deg);
}

.social_media li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: #d2d2d2 !important;
    background-color: var(--primary-color);
    font-size: 30px !important;
    transition: 0.2s;
}

.social_media li:hover span{
    z-index: 1000;
    transition: 0.5s;
    color: #fff !important;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.2);
}

.social_media li:hover span:nth-child(4){
    transform: translate(20px, -20px);
    opacity: 1;
}

.social_media li:hover span:nth-child(3){
    transform: translate(14px, -14px);
    opacity: 0.6;
}

.social_media li:hover span:nth-child(2){
    transform: translate(7px, -7px);
    opacity: 0.3;
}

.social_media li:hover span:nth-child(1){
    transform: translate(0px, 0px);
    opacity: 0.3;
}
