/* FIGURE IN ABOUT */


.figure {
    bottom: -10px;
    align-self: center;
    transform: translateY(-10px);
    
}

.figure_svg {
    width: 350px;
    height: 350px;
}

.fill_svg_background {
    z-index: -1;
    fill: var(--secondary-color-dark);
}

.self_img {
    z-index: 2;
    bottom: 120px;
    left: 10%;
}

