
video {
  width: 100%;
  top: 0;
  height: calc(100vh - 110px - 11rem);
  object-fit: cover;
  opacity: 0.8;
  overflow: hidden;
}

@media (max-width: 700px) {
  video {
  height: calc(100vh - 100px - 11rem);
  }
}


