body {
    padding-right: 0 !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.flowers_horizontal{
    width: 150px;
    height: auto;
    position: absolute;
    transform: rotateY(180deg) translateX(0px);
    top: 40px;
}